.config-menu-page {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-content: center;
  align-items: center;
  height: 100vh;
  width: auto;
  min-height: 100vh;
  min-width: 100vh;
  background-color: rgb(62, 189, 214);
}

.option-columns {
  width: 100vw;

}

.column {
  width: 100%;
  display: flex;
  flex-direction: column;
}

.row {
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.card {
  display: flex;
  flex-direction: column;
  padding: 1.5em;
  width: 90%;
  background-color: rgb(228, 236, 237);
}

.button-pixel-config {
  font-family: upheaval;
  width: 25rem;
  height: 5rem;
  font-size: 3rem;
}
