.config-menu-page {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-content: center;
  align-items: center;
  height: 100vh;
  width: auto;
  min-height: 100vh;
  min-width: 100vh;
}

